[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "third_party/pistache"]
	path = third_party/pistache
	url = https://github.com/oktal/pistache
[submodule "third_party/rapidjson"]
	path = third_party/rapidjson
	url = https://github.com/Tencent/rapidjson/
[submodule "third_party/sqlpp11"]
	path = third_party/sqlpp11
	url = https://github.com/rbock/sqlpp11
[submodule "third_party/date"]
	path = third_party/date
	url = https://github.com/HowardHinnant/date
[submodule "third_party/sqlpp11-connector-sqlite3"]
	path = third_party/sqlpp11-connector-sqlite3
	url = https://github.com/rbock/sqlpp11-connector-sqlite3
[submodule "third_party/sqlpp11-connector-postgresql"]
	path = third_party/sqlpp11-connector-postgresql
	url = https://github.com/matthijs/sqlpp11-connector-postgresql
